/* General menu styles */
.menu {
  list-style-type: none;
  border-radius: "8px";
  margin: 30%;
  padding: 0;
  display: flex;
  width: 200px;

}

.menu-item {
  position: relative; /* For positioning submenu */
  border-radius: "8px";
  padding: 10px 20px;
  cursor: pointer;
  background-color: #000;
  color: white;
  width: 200px;
}

.menu-item:hover {
  background-color: #555;
}

/* Submenu styles */
.submenu {
  list-style-type: none;
  border-radius: "4px";
  margin: 0;
  padding: 0;
  position: absolute;
  top: 100%; /* Position submenu below the main menu */
  left: 0;
  background-color: #000;
  display: flex;
  flex-direction: column;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  z-index: 1000;
  overflow: visible;
  width: 200px; /* Set a fixed width or adjust as needed */
}

.submenu-item {
  padding: 10px 20px;
  color: white;
  cursor: pointer;
}

.submenu-item:hover {
  background-color: #666;
}

